
@{
    ViewBag.Title = "Crear";
}

<form>

    <div class="rom"
         <div class="col-md-6">
             <div class="form-group">
                 <label for="primerNombre"> Nombre</label>
                 <input type="text" class="form-control"
                        id="primerNombre"
                        name="primerNombre"
                        required maxlength="100"
                        placeholder="introduce el primer nombre"

             </div>
    <div class="=col-md-6">
    
    
    </div>


</form>



