@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">

    <h1>FLO&BUS</h1>
    <img src=”html/IMAGEN/arbustosyflores.jpg”>
        <p class="lead">
            Un jardín es una parte muy especial para poder crear un entorno agradable, es por eso,
            que nos especializamos en tratar de encontrar ese punto entre la naturaleza y la decoración, desarrollando
            espacios que cautiven la atención.

            <br>
        <p></p>

        Mecánica de proyecto:

        <br>
        <p>
            Primero necesitamos un espacio y una idea para tu jardín;
            se puede agendar una cita para conocer el lugar que tienes en mente o mándanos la información por correo (imagen, medidas, etc).
            Empezamos a generar propuesta de ese espacio con algunas fotos e imágenes (bocetos) y teniendo la idea concreta aterrizada
            te enviamos un presupuesto, si se aprueba podemos empezar a trabajar


        </p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>